body {
    text-align: center;
    background-color: rebeccapurple;
    color: skyblue;
}

div {
    margin-top: 15px;
}

.image-section {
    display: flex;
    justify-content: center;
}

.section-style {
    margin-right: 25px;
    margin-left: 25px;
}
#img1 {
height:300px;
width:450px;
}
#img2 {
height:300px;
width:450px;
}
#img3 {
height:300px;
width:450px;
}
#img4 {
height:300px;
width:450px;
}